/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/*body {
  line-height: 1;
}*/
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Astrotools section */

body
{
  font-family: 'Varela Round', sans-serif;
  color: #31363b;
  max-width: 100vw;
  background-color: rgba(36, 38, 41, 0.9);
}

header.header
{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: white;
  height: 100vh;
  min-height: 460px;
  background: linear-gradient(130deg, #2a7492 0%, #448ccb 20%, #003471 80%);
}

.menu
{
  position: fixed;
  top: 0;
  z-index: 101;
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.0em;
  background-color: transparent;
  pointer-events: none;
}

.visuallyhidden
{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

header nav
{
  font-family: 'Roboto', sans-serif;
  text-align: right;
  background-color: rgba(36, 38, 41, 0.9);
  font-size: 1.0em;
  max-height: 40px;
  width: 99%;
  padding: 10px 0.5%;
  line-height: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.ol-nav
{
  display: inline-block;
}

.ol-nav:after, .hd-all:after, .ul-tags:after
{
  content: '';
  display: block;
  clear: both;
}

.ol-nav > li
{
  float: left;
  text-align: center;
  position: relative;
}

.ol-nav > li > a
{
  color: #fff;
  text-decoration: none;
  border-left: 1px dashed #fff;
  display: block;
  padding: 0 25px;
}

.ol-nav > li:hover, .ul-nav > li:hover
{
  background-color: #383c40;
}

.ol-nav > li:hover > a, .ul-nav > li:hover > a
{
  text-shadow: 2px 2px #2a7492;
}

.ul-nav
{
  position: absolute;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: 250ms;
  background-color: rgba(36, 38, 41, 0.9);
  width: 100%;
  opacity: 0.0;
}

.ol-nav > li:hover > ul, .vissubmenu
{
  visibility: visible;
  opacity: 1.0;
  transform: scaleY(1);
}

.ul-nav > li
{
  font-size: 0.6em;
  border-top: 1px dashed #fff;
  line-height: 150%;
}

.ul-nav > li > a
{
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.page-title
{
  padding-top: 60px;
  font-size: 3.3em;
  text-shadow: 3px 3px #000000;
  text-align: center;
  height: 35%;
  line-height: 35vh;
}

.hd-all
{
  text-align: center;
  font-size: 0.8em;
  margin-top: 5vh;
}

.hd-left
{
  width: 40%;
  float: left;
  animation-delay: 0.9s;
  margin: 0 5%;
}

.hd-left:hover, .hd-right:hover
{
  cursor: pointer;
}

.hd-left > p
{
  animation-delay: 2.0s;
}

.hd-right
{
  float: left;
  width: 40%;
  animation-delay: 1.1s;
  margin: 0 5%;
}

.hd-icons
{
  display: inline-block;
  animation-duration: 0.6s;
  transition: 0.5s;
}

.forfree
{
  font-size: 1.9em;
  height: 35vh;
  line-height: 35vh;
  text-align: center;
  background-image: url('../img/bckgrd.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#ff-left
{
  float: left;
  min-width: 49%;
  padding-right: 1%;
  text-align: right;
}

#ff-right
{
  float: left;
  min-width: 49%;
  padding-left: 1%;
  text-align: left;
}

.programs
{
  font-size: 0.8em;
  padding: 60px 4% 3% 4%;
}

.programs:nth-child(even)
{
  background-color: #fff;
}

.programs:nth-child(odd)
{
  background-color: #f5f5f5;
}

.programs:nth-of-type(1)
{
  box-shadow: 0 -5px 10px #242629;
}

.hd-art
{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.programs h2
{
  font-family: 'Roboto Slab', serif;
  flex-basis: 60%;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}

.prolang
{
  font-family: 'Roboto', serif;
  flex-basis: 40%;
  font-size: 0.7em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  color: #2f6fd6;
}

article p
{
  text-align: justify;
}

article a
{
  color: inherit;
}

.font-italic
{
  font-style: italic;
}

.font-bold
{
  font-weight: bold;
}

.font-upper-case
{
  text-transform: uppercase;
}

.gh-link
{
  text-decoration: none;
  font-weight: bold;
  color: #31363b;
  display: inline-block;
}

.gh-link:hover
{
  color: #2f6fd6;
}

.code
{
  margin: 20px auto;
  background-color: #e8f2f4;
  overflow-x: auto;
  white-space: nowrap;
  border: 2px solid #242629;
  border-radius: 15px;
  text-align: center;
}

.code-one-col
{
  max-height: 15vh;
  width: 12vw;
  padding: 1%;
}

.code code, .code-one-col > code
{
  font-family: 'Source Code Pro', monospace;
  margin: 1%;
  text-align: center;
  display: inline-block;
  font-size: 0.62em;
  padding: 5px;
}

.code-one-col > code
{
  text-align: left;
  padding: 5px;
}

.file-path, .web-address
{
  font-family: 'Source Code Pro', monospace;
  background-color: #cadcf7;
  padding: 0 0.5%;
}

.web-address
{
  background-color: #e0e0d2;
}

.equation
{
  margin: 40px auto;
  width: 66%;
  border: 1px dashed #242629;
  box-shadow: 3px 3px 15px #242629;
}

.equation img
{
  display: block;
  margin: 8% auto;
}

.fig
{
  font-family: 'Roboto Slab', serif;
  margin: 30px auto;
  text-align: center;
  font-size: 0.7em;
}

.fig-cap
{
  margin: 20px 0;
}

.art-foot
{
  display: flex;
  align-items: flex-end;
}

.download
{
  flex-basis: 45%;
}

.tags
{
  flex-basis: 55%;
  text-align: right;
  line-height: calc(0.6em + 4px);
}

.tags > ul
{
  display: inline-block;
}

.tags > ul > li
{
  display: inline-block;
  background-color: #f4c5a1;
  float: left;
  padding: 2px 8px;
  font-size: 0.6em;
  margin: 0 0 0 5px;
  transition-duration: 500ms;
}

.tags > ul > li:hover
{
  background-color: #fc9649;
  transition-duration: 500ms;
}

.ol-in-art
{
  font-size: 0.85em;
  margin: 2% 0;
  padding-left: 4%;
  list-style: decimal;
  list-style-position: inside;
}

.ol-in-art > li > span
{
  padding-left: 1%;
}

.p-last
{
  margin-bottom: 5%;
}

.p-top-margin
{
  margin-top: 3%;
}

.footer
{
  font-family: 'Roboto Slab', serif;
  font-size: 0.7em;
  color: #6c717a;
  background-color: #242629;
  padding: 4%;
  display: flex;
  align-items: center;
}

.left-foot
{
  flex-basis: calc(45% - 1px);
  padding-left: 5%;
  border-right: 1px solid #6c717a;
}

.right-foot
{
  flex-basis: 45%;
  padding-right: 5%;
  text-align: right;
}

.footer h2
{
  font-size: 3em;
  font-weight: bold;
}

.footer p
{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

address a
{
  color: #6c717a;
}

address a:hover
{
  color: #fff;
}

.icon-download:before
{
  font-size: 40px;
}

.icon-cogs:before
{
  font-size: 120px;
  text-shadow: 3px 3px #000000;
}

.icon-github-circled:before
{
  font-size: 30px;
}

.icon-code:before
{
  font-size: 120px;
  text-shadow: 3px 3px #000000;
}

/* Media section */

@media (min-width: 1000px)
{
  body
  {
    min-width: 980px;
    font-size: 30px;
  }
}

@media (min-width: 700px) and (max-width: 999px)
{
  body
  {
    min-width: 680px;
    font-size: 25px;
  }

  header.header
  {
    min-height: 360px;
  }

  .icon-cogs:before
  {
    font-size: 85px;
  }

  .icon-code:before
  {
    font-size: 85px;
  }

  .forfree
  {
    font-size: 1.5em;
  }

  .programs h2
  {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .programs
  {
    min-width: 630px;
    padding-left: 3.6%;
    padding-right: 3.6%;
  }

  .prolang
  {
    font-size: 0.65em;
  }

  .code code, .code-one-col > code
  {
    font-size: 0.7em;
  }

  .code-one-col
  {
    max-height: 20vh;
    width: 17vw;
  }

  .equation
  {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .download
  {
    font-size: 0.9em;
  }

  .tags > ul > li
  {
    font-size: 0.65em;
  }

  .tags > ul > li:last-child
  {
    display: none;
  }

  .icon-download:before
  {
    font-size: 30px;
  }

  .icon-github-circled
  {
    display: none;
  }

  .left-foot
  {
    flex-basis: calc(47% - 1px);
    padding-left: 3%;
  }

  .right-foot
  {
    flex-basis: 47%;
    padding-right: 3%;
    font-size: 0.85em;
  }
}

@media (min-width: 850px) and (max-width: 999px)
{
  .forfree
  {
    font-size: 1.8em;
  }

  .programs h2
  {
    font-size: 1.5em;
  }

  .prolang
  {
    font-size: 0.75em;
  }

  .tags > ul > li:last-child
  {
    display: inline-block;
  }

  .download
  {
    font-size: 1em;
  }

  .icon-download:before
  {
    font-size: 34px;
  }

  .icon-github-circled
  {
    display: inline;
  }

  .icon-github-circled:before
  {
    font-size: 25.5px;
  }
}

@media (min-width: 500px) and (max-width: 699px)
{
  body
  {
    min-width: 480px;
    font-size: 21px;
  }

  header.header
  {
    min-height: 340px;
  }

  .menu
  {
    height: 38px;
    width: 38px;
  }

  header nav
  {
    max-height: 26px;
    line-height: 26px;
    padding: 6px 0.5%;
  }

  .ul-nav > li > a
  {
    padding: 8px;
  }

  .forfree
  {
    font-size: 1.2em;
    height: 25vh;
    line-height: 25vh;
  }

  .icon-cogs:before
  {
    font-size: 74px;
  }

  .icon-code:before
  {
    font-size: 74px;
  }

  .hd-art
  {
    display: block;
    margin-bottom: 15px;
  }

  .prolang
  {
    text-align: left;
  }

  .programs
  {
    min-width: 450px;
    padding-top: 38px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .code code, .code-one-col > code
  {
    font-size: 0.8em;
  }

  .code-one-col
  {
    max-height: 20vh;
    width: 25vw;
  }

  .equation
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .art-foot
  {
    display: block;
  }

  .icon-download:before
  {
    font-size: 28px;
  }

  .icon-github-circled:before
  {
    font-size: 21px;
  }

  .tags
  {
    margin-top: 14px;
    text-align: left;
  }

  .tags > ul > li
  {
    font-size: 0.8em;
    padding: 3px 8px;
  }

  .footer
  {
    font-size: 0.6em;
  }

  .left-foot
  {
    flex-basis: calc(48% - 1px);
    padding-left: 2%;
  }

  .right-foot
  {
    flex-basis: 48%;
    padding-right: 2%;
  }
}

@media (min-width: 600px) and (max-width: 699px)
{
  .forfree
  {
    font-size: 1.5em;
  }

  .code-one-col
  {
    width: 18vw;
  }
}

@media (max-width: 499px)
{
  body
  {
    min-width: 280px;
    font-size: 18px;
  }

  header.header
  {
    min-height: 320px;
  }

  header nav
  {
    text-align: center;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .menu
  {
    display: none;
  }

  .ol-nav > li > a
  {
    padding: 0 10px;
  }

  .ol-nav > li:first-child > a
  {
    border-left: none;
  }

  .ul-nav > li > a
  {
    padding: 5px;
  }

  .page-title
  {
    font-size: 2.2em;
  }

  .hd-left
  {
    width: 100%;
    float: none;
    margin: 0 0;
  }

  .icon-code:before
  {
    font-size: 64px;
  }

  .hd-right
  {
    display: none;
  }

  .forfree
  {
    font-size: 0.85em;
    height: 20vh;
    line-height: 20vh;
  }

  .hd-art
  {
    display: block;
    margin-bottom: 15px;
  }

  .prolang
  {
    text-align: left;
    font-size: 0.65em;
  }

  .programs
  {
    min-width: 260px;
    padding-top: 30px;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }

  .programs h2
  {
    font-size: 1.25em;
  }

  .code code, .code-one-col > code
  {
    font-size: 0.8em;
  }

  .code-one-col
  {
    max-height: 20vh;
    width: 35vw;
  }

  .equation
  {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .art-foot
  {
    display: block;
    margin-bottom: 5px;
  }

  .icon-download:before
  {
    font-size: 28px;
  }

  .icon-github-circled:before
  {
    font-size: 21px;
  }

  .tags
  {
    display: none;
  }

  .footer
  {
    display: block;
    padding: 6%;
  }

  .left-foot
  {
    padding-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #6c717a;
    border-right: none;
  }

  .right-foot
  {
    padding: 0;
    padding-top: 10px;
    text-align: left;
  }
}

@media (min-width: 400px) and (max-width: 499px)
{
  .page-title
  {
    font-size: 2.8em;
  }

  .forfree
  {
    font-size: 1.1em;
  }

  .programs h2
  {
    font-size: 1.4em;
  }

  .prolang
  {
    font-size: 0.8em;
  }

  .code-one-col
  {
    width: 25vw;
  }

  .equation
  {
    width: 76%;
  }

  .tags
  {
    display: inline-block;
    margin-top: 10px;
  }

  .tags > ul > li
  {
    font-size: 0.9em;
  }

  .tags > ul > li:last-child
  {
    display: none;
  }
}

@media (max-width: 299px)
{
  body
  {
    min-width: 299px;
  }

  header nav
  {
    display: none;
  }

  .menu
  {
    display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    padding: 1px 2px 2px 1px;
    cursor: pointer;
    pointer-events: auto;
    background-color: rgba(36, 38, 41, 0.9);
  }

  .ol-nav
  {
    display: none;
  }

  .ol-nav > li:first-child
  {
    display: none;
  }

  .programs
  {
    padding-top: 15px;
  }
}
