
.icon-download:before { content: '\e800'; } /* '' */
.icon-cogs:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */